.select2-container--adwitt .select2-selection--single,
.select2-container--adwitt-time .select2-selection--single {
  border: 1px solid #c6c6c6;
  height: 25px;
  background-color: #fff;
  text-align: left;
}
.select2-container--adwitt .select2-selection--single .select2-selection__rendered,
.select2-container--adwitt-time .select2-selection--single .select2-selection__rendered {
  line-height: 25px;
}
.select2-container--adwitt .select2-selection--single .select2-selection__arrow,
.select2-container--adwitt-time .select2-selection--single .select2-selection__arrow {
  display: block;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 23px;
}
.select2-container--adwitt .select2-selection--single .select2-selection__arrow b,
.select2-container--adwitt-time .select2-selection--single .select2-selection__arrow b {
  background-image: url("../images/bg_select-down_3b5998_9x6.png");
  display: inline-block;
  height: 6px;
  position: absolute;
  right: 7px;
  top: 9px;
  width: 9px;
}
.select2-container--adwitt .select2-dropdown,
.select2-container--adwitt-time .select2-dropdown {
  border-radius: 0;
}
.select2-container--adwitt.select2-container--open .select2-selection__rendered,
.select2-container--adwitt-time.select2-container--open .select2-selection__rendered {
  background-color: #3b5998;
  color: #fff;
  outline: 0 none;
}
.select2-container--adwitt.select2-container--open .select2-selection--single .select2-selection__arrow b,
.select2-container--adwitt-time.select2-container--open .select2-selection--single .select2-selection__arrow b {
  background-image: url("../images/bg_select-up_ffffff_9x6.png");
}
.select2-container--adwitt .select2-results__option[aria-selected=true],
.select2-container--adwitt-time .select2-results__option[aria-selected=true] {
  background-color: #fff;
}
.select2-container--adwitt .select2-results__option--highlighted[aria-selected],
.select2-container--adwitt-time .select2-results__option--highlighted[aria-selected] {
  background-color: #e0e6f2;
  color: #404040;
}
.select2-container--adwitt .select2-results > .select2-results__options,
.select2-container--adwitt-time .select2-results > .select2-results__options {
  max-height: 199px;
  position: relative;
}
.select2-container--adwitt .select2-results > .select2-results__options .select2-results__option,
.select2-container--adwitt-time .select2-results > .select2-results__options .select2-results__option {
  line-height: 24px;
  overflow: hidden;
  padding: 0 12px 0 6px;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
}
.select2-container--adwitt .select2-results > .select2-results__options li,
.select2-container--adwitt-time .select2-results > .select2-results__options li {
  border-bottom: 1px solid #c1c1c1;
}
.select2-container--adwitt .select2-results > .select2-results__options li:nth-last-of-type(1),
.select2-container--adwitt-time .select2-results > .select2-results__options li:nth-last-of-type(1) {
  border-bottom: 0 none;
}

.select2-container--adwitt-time .select2-results > .select2-results__options .select2-results__option {
  line-height: 25px;
  padding: 0 12px 0 6px;
}
.select2-container--adwitt-time .select2-results > .select2-results__options li {
  border-bottom: 0 none;
}

.select2-container--disabled .select2-selection--single {
  background-color: #eeeeee;
  cursor: default;
}

html,
body,
* {
  box-sizing: border-box;
}

html,
body,
#wrap {
  height: 100%;
}

body {
  font-family: 'Roboto Condensed',sans-serif;
  font-size: 13px;
}
body > #wrap {
  height: auto;
  min-height: 100%;
}

button {
  font-family: 'Roboto Condensed',sans-serif;
  padding: 0;
  cursor: pointer;
}

input[type="text"], input[type="password"], input[type="number"], input[type="search"] {
  height: 25px;
  line-height: 25px;
  padding: 0 6px;
}

#wrap {
  min-width: 1440px;
  background-color: #ccc;
}

.container {
  padding: 0 55px;
}

.row {
  *zoom: 1;
  margin-bottom: 10px;
}
.row:before, .row:after {
  content: '';
  display: table;
}
.row:after {
  clear: both;
}

.col {
  background-color: #fff;
  border: 1px solid #dcdcdc;
  box-shadow: 1px 1px 10px #cacaca;
  position: relative;
}
.col[data-float='left'] {
  float: left;
}
.col[data-float='right'] {
  float: right;
}
.col[data-ratio='3'] {
  width: 29.5%;
}
.col[data-ratio='7'] {
  width: 69.5%;
}

.contents--title {
  color: #3b5998;
  height: 47px;
}
.contents--title h2 {
  line-height: 47px;
  font-size: 20px;
  text-indent: 10px;
}

.headline {
  background-color: #3b5998;
  height: 37px;
}
.headline h3 {
  color: #fff;
  font-size: 17px;
  font-weight: 400;
  line-height: 37px;
  text-indent: 20px;
}

.content {
  padding-left: 37px;
  padding-right: 37px;
}

.input--date {
  background: url(../images/icon_calendar_3b5998_14x14.png) no-repeat right 6px top 50% #fff;
  border: 1px solid #c6c6c6;
  padding-left: 6px;
  padding-right: 26px;
}

.dashboard__section .button--prev,
.dashboard__section .button--next {
  background-color: #fff;
  background-repeat: no-repeat;
  border: 0 none;
  height: 19px;
  overflow: hidden;
  text-indent: -9999px;
  width: 13px;
}
.dashboard__section .button--prev {
  background-image: url(../images/btn_arrow-prev_ababab_13x19.png);
}
.dashboard__section .button--next {
  background-image: url(../images/btn_arrow-next_ababab_13x19.png);
}
.dashboard__section .button--setting {
  background: url(../images/btn_setting_3b5998_15x14.png) no-repeat 0 0;
  border: 0 none;
  height: 14px;
  overflow: hidden;
  text-indent: -9999px;
  width: 15px;
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -7px;
}
.dashboard__section .setting {
  margin: 20px 0;
}
.dashboard__section .setting__table {
  width: 100%;
}
.dashboard__section .setting__table-th {
  color: #3b5998;
  text-align: left;
  font-size: 17px;
}
.dashboard__section .setting__table-tbody .setting__table-tr:not(:last-child) .setting__table-th,
.dashboard__section .setting__table-tbody .setting__table-tr:not(:last-child) .setting__table-td {
  padding-bottom: 14px;
}
.dashboard__section .setting .input--date {
  height: 25px;
  line-height: 25px;
  width: 200px;
}
.dashboard__section .setting .button--search {
  background-color: #3b5998;
  border: 0 none;
  border-radius: 13px;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  height: 25px;
  width: 100px;
}
.dashboard__section .campaign-type {
  position: relative;
}
.dashboard__section .campaign-type .button--prev {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -10px;
}
.dashboard__section .campaign-type .button--next {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -10px;
}
.dashboard__section .campaign-type__wrapper {
  white-space: nowrap;
  margin: 10px 66px;
  overflow: hidden;
  font-size: 0;
}
.dashboard__section .campaign-type__button {
  font-size: 15px;
  background-color: #fff;
  border: 1px solid #c6c6c6;
  border-radius: 20px;
  height: 40px;
  width: 23.932384341637%;
  margin-left: 1.423487544484%;
}
.dashboard__section .campaign-type__button:first-child {
  margin-left: 0;
}
.dashboard__section .campaign-type__button img {
  margin-left: 5px;
  vertcial-align: middle;
}
.dashboard__section .campaign-type__button--active {
  background-color: #404040;
  color: #fff;
}
.dashboard__section .campaign-summary {
  margin-bottom: 24px;
  margin-top: 24px;
}
.dashboard__section .campaign-summary__table {
  width: 100%;
}
.dashboard__section .campaign-summary__table-th {
  border-bottom: 2px solid #3b5998;
  border-top: 2px solid #3b5998;
  color: #3b5998;
  height: 42px;
}
.dashboard__section .campaign-summary__table-td {
  border-bottom: 1px solid #dadada;
  height: 39px;
}
.dashboard__section .campaign-summary__table-td:not(:first-child) {
  text-align: center;
}
.dashboard__section .campaign-summary__table-tbody .campaign-summary__table-tr:first-child .campaign-summary__table-td {
  color: #3b5998;
}
.dashboard__section .campaign-details {
  margin: 38px 0 50px;
}
.dashboard__section .campaign-details [type='checkbox']:not(:checked), .dashboard__section .campaign-details [type='checkbox']:checked,
.dashboard__section .campaign-details [type='radio']:not(:checked),
.dashboard__section .campaign-details [type='radio']:checked {
  left: -9999px;
  position: absolute;
}
.dashboard__section .campaign-details [type='checkbox']:not(:checked) + label, .dashboard__section .campaign-details [type='checkbox']:checked + label,
.dashboard__section .campaign-details [type='radio']:not(:checked) + label,
.dashboard__section .campaign-details [type='radio']:checked + label {
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  line-height: inherit;
  margin-right: 0;
  padding-left: 15px;
  position: relative;
  vertical-align: middle;
}
.dashboard__section .campaign-details [type='checkbox']:not(:checked) + label::before, .dashboard__section .campaign-details [type='checkbox']:checked + label::before,
.dashboard__section .campaign-details [type='radio']:not(:checked) + label::before,
.dashboard__section .campaign-details [type='radio']:checked + label::before {
  background-color: #fff;
  border: 1px solid #d0d0d0;
  box-sizing: border-box;
  content: '';
  display: block;
  position: absolute;
}
.dashboard__section .campaign-details [type='checkbox']:not(:checked) + label::after, .dashboard__section .campaign-details [type='checkbox']:checked + label::after,
.dashboard__section .campaign-details [type='radio']:not(:checked) + label::after,
.dashboard__section .campaign-details [type='radio']:checked + label::after {
  background-image: url(https://www.dropbox.com/s/4rejvu1k641g5rk/icon_check--checked_5f93ff_13x10.png?raw=1);
  content: '';
  display: block;
  height: 10px;
  position: absolute;
  width: 13px;
}
.dashboard__section .campaign-details [type='checkbox']:not(:checked) + label::after,
.dashboard__section .campaign-details [type='radio']:not(:checked) + label::after {
  opacity: 0;
}
.dashboard__section .campaign-details [type='checkbox']:checked + label::after,
.dashboard__section .campaign-details [type='radio']:checked + label::after {
  opacity: 1;
}
.dashboard__section .campaign-details [type='checkbox']:disabled:not(:checked) + label, .dashboard__section .campaign-details [type='checkbox']:disabled:checked + label,
.dashboard__section .campaign-details [type='radio']:disabled:not(:checked) + label,
.dashboard__section .campaign-details [type='radio']:disabled:checked + label {
  color: #aaa;
}
.dashboard__section .campaign-details [type='checkbox']:disabled:checked + label::after,
.dashboard__section .campaign-details [type='radio']:disabled:checked + label::after {
  background-image: url(https://www.dropbox.com/s/l5yoqib11552b21/icon_check--disabled_d0d0d0_13x10.png?raw=1);
}
.dashboard__section .campaign-details [type='checkbox']:not(:checked) + label::before, .dashboard__section .campaign-details [type='checkbox']:checked + label::before {
  height: 12px;
  left: 0;
  top: 1px;
  width: 12px;
}
.dashboard__section .campaign-details [type='checkbox']:not(:checked) + label::after, .dashboard__section .campaign-details [type='checkbox']:checked + label::after {
  left: 1px;
  top: 1px;
}
.dashboard__section .campaign-details [type='radio']:not(:checked) + label::before, .dashboard__section .campaign-details [type='radio']:checked + label::before {
  border-radius: 50%;
  height: 13px;
  left: 0;
  top: 0;
  width: 13px;
}
.dashboard__section .campaign-details [type='radio']:not(:checked) + label::after, .dashboard__section .campaign-details [type='radio']:checked + label::after {
  left: 2px;
  top: 1px;
}
.dashboard__section .campaign-details .fa-exclamation-circle {
  color: #ff0053;
}
.dashboard__section .campaign-details__text {
  line-height: 20px;
}
.dashboard__section .campaign-details__text span {
  vertical-align: middle;
}
.dashboard__section .campaign-details__text span:not(:first-child) {
  margin-left: 65px;
}
.dashboard__section .campaign-details__text strong {
  color: #3b5998;
  font-size: 20px;
  margin-left: 20px;
  vertical-align: top;
}
.dashboard__section .campaign-details__table {
  table-layout: fixed;
  width: 100%;
}
.dashboard__section .campaign-details__table-th {
  border-bottom: 2px solid #3b5998;
  border-top: 2px solid #3b5998;
  color: #3b5998;
  height: 42px;
}
.dashboard__section .campaign-details__table-td {
  border-bottom: 1px solid #c6c6c6;
  height: 40px;
  text-align: center;
}
.dashboard__section .campaign-details__table-td:nth-child(3) {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.dashboard__section .campaign-details__table-tbody .campaign-details__table-tr:last-child .campaign-details__table-td {
  border-bottom: 2px solid #3b5998;
  height: 41px;
}
.dashboard__section .campaign-details__button-wrap {
  margin-bottom: 10px;
  text-align: right;
}
.dashboard__section .campaign-details__button-wrap .button--my-report,
.dashboard__section .campaign-details__button-wrap .button--edit-columns,
.dashboard__section .campaign-details__button-wrap .button--save-report {
  background-color: #3b5998;
  border: 0 none;
  border-radius: 10px;
  color: #fff;
  height: 20px;
  width: 115px;
}
.dashboard__section .campaign-details .button--manage,
.dashboard__section .campaign-details .button--report {
  background-color: #ababab;
  border: 0 none;
  border-radius: 10px;
  color: #fff;
  font-size: 11px;
  height: 20px;
  width: 55px;
}

.popup__dashboard-setting {
  background-color: #fff;
  border: 1px solid #cbcbcb;
  box-sizing: border-box;
  padding: 20px 20px 30px 20px;
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 820px;
  z-index: 100;
}
.popup__dashboard-setting .popup__header {
  background-color: #3b5998;
  display: table;
  height: 45px;
  width: 100%;
}
.popup__dashboard-setting .popup__header > .title__inner {
  display: table-cell;
  vertical-align: middle;
}
.popup__dashboard-setting .popup__header > .title__inner h4.title {
  color: #fff;
  font-size: 16px;
  padding: 0 20px;
}
.popup__dashboard-setting .popup__container {
  padding: 35px 30px;
}
.popup__dashboard-setting .popup__footer {
  border-top: 2px solid #ababab;
  padding-top: 30px;
  text-align: center;
}
.popup__dashboard-setting .popup__button--close {
  background-image: url(../images/btn_close_ffffff_13x13.png);
  display: block;
  height: 13px;
  overflow: hidden;
  position: absolute;
  right: 38px;
  text-indent: -9999px;
  top: 37px;
  width: 13px;
}
.popup__dashboard-setting .popup__headline {
  color: #3b5998;
  font-size: 15px;
  margin-bottom: 15px;
}
.popup__dashboard-setting .desc {
  line-height: 16px;
  margin-bottom: 10px;
}
.popup__dashboard-setting .button--ok,
.popup__dashboard-setting .button--cancel {
  width: 100px;
  height: 25px;
  border-radius: 13px;
  color: #fff;
  font-size: 15px;
}
.popup__dashboard-setting .button--ok {
  background-color: #3b5998;
  margin-right: 10px;
}
.popup__dashboard-setting .button--cancel {
  background-color: #ababab;
}
.popup__dashboard-setting .popup__container {
  font-size: 13px;
}
.popup__dashboard-setting .popup__container [type='checkbox']:not(:checked), .popup__dashboard-setting .popup__container [type='checkbox']:checked,
.popup__dashboard-setting .popup__container [type='radio']:not(:checked),
.popup__dashboard-setting .popup__container [type='radio']:checked {
  left: -9999px;
  position: absolute;
}
.popup__dashboard-setting .popup__container [type='checkbox']:not(:checked) + label, .popup__dashboard-setting .popup__container [type='checkbox']:checked + label,
.popup__dashboard-setting .popup__container [type='radio']:not(:checked) + label,
.popup__dashboard-setting .popup__container [type='radio']:checked + label {
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  line-height: inherit;
  margin-right: 0;
  padding-left: 18px;
  position: relative;
  vertical-align: middle;
}
.popup__dashboard-setting .popup__container [type='checkbox']:not(:checked) + label::before, .popup__dashboard-setting .popup__container [type='checkbox']:checked + label::before,
.popup__dashboard-setting .popup__container [type='radio']:not(:checked) + label::before,
.popup__dashboard-setting .popup__container [type='radio']:checked + label::before {
  background-color: #fff;
  border: 1px solid #d0d0d0;
  box-sizing: border-box;
  content: '';
  display: block;
  position: absolute;
}
.popup__dashboard-setting .popup__container [type='checkbox']:not(:checked) + label::after, .popup__dashboard-setting .popup__container [type='checkbox']:checked + label::after,
.popup__dashboard-setting .popup__container [type='radio']:not(:checked) + label::after,
.popup__dashboard-setting .popup__container [type='radio']:checked + label::after {
  background-image: url(https://www.dropbox.com/s/4rejvu1k641g5rk/icon_check--checked_5f93ff_13x10.png?raw=1);
  content: '';
  display: block;
  height: 10px;
  position: absolute;
  width: 13px;
}
.popup__dashboard-setting .popup__container [type='checkbox']:not(:checked) + label::after,
.popup__dashboard-setting .popup__container [type='radio']:not(:checked) + label::after {
  opacity: 0;
}
.popup__dashboard-setting .popup__container [type='checkbox']:checked + label::after,
.popup__dashboard-setting .popup__container [type='radio']:checked + label::after {
  opacity: 1;
}
.popup__dashboard-setting .popup__container [type='checkbox']:disabled:not(:checked) + label, .popup__dashboard-setting .popup__container [type='checkbox']:disabled:checked + label,
.popup__dashboard-setting .popup__container [type='radio']:disabled:not(:checked) + label,
.popup__dashboard-setting .popup__container [type='radio']:disabled:checked + label {
  color: #aaa;
}
.popup__dashboard-setting .popup__container [type='checkbox']:disabled:checked + label::after,
.popup__dashboard-setting .popup__container [type='radio']:disabled:checked + label::after {
  background-image: url(https://www.dropbox.com/s/l5yoqib11552b21/icon_check--disabled_d0d0d0_13x10.png?raw=1);
}
.popup__dashboard-setting .popup__container [type='checkbox']:not(:checked) + label::before, .popup__dashboard-setting .popup__container [type='checkbox']:checked + label::before {
  height: 12px;
  left: 0;
  top: 1px;
  width: 12px;
}
.popup__dashboard-setting .popup__container [type='checkbox']:not(:checked) + label::after, .popup__dashboard-setting .popup__container [type='checkbox']:checked + label::after {
  left: 1px;
  top: 1px;
}
.popup__dashboard-setting .popup__container [type='radio']:not(:checked) + label::before, .popup__dashboard-setting .popup__container [type='radio']:checked + label::before {
  border-radius: 50%;
  height: 13px;
  left: 0;
  top: 0;
  width: 13px;
}
.popup__dashboard-setting .popup__container [type='radio']:not(:checked) + label::after, .popup__dashboard-setting .popup__container [type='radio']:checked + label::after {
  left: 2px;
  top: 1px;
}
.popup__dashboard-setting .popup__content {
  margin-bottom: 35px;
}
.popup__dashboard-setting .popup__content:last-child {
  margin-bottom: 0;
}
.popup__dashboard-setting .period-campaign-status > label {
  margin-right: 10px;
}
.popup__dashboard-setting .period-campaign-status .second-label {
  margin-left: 40px;
}
.popup__dashboard-setting .campaign-summary .fa {
  margin-left: 3px;
  vertical-align: middle;
}
.popup__dashboard-setting .apply-setting > div {
  margin-bottom: 10px;
}
.popup__dashboard-setting .apply-setting__select {
  margin-left: 18px;
}
.popup__dashboard-setting .apply-setting .apply-setting__item {
  height: 25px;
  width: 336px;
  margin-top: 5px;
  background-color: #f0f0f0;
  line-height: 25px;
  position: relative;
  color: #404040;
  padding-left: 10px;
  padding-right: 31px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.popup__dashboard-setting .apply-setting .button--remove {
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -6px;
  width: 11px;
  height: 11px;
  text-indent: -9999px;
  overflow: hidden;
  background-image: url(../images/btn_remove_404040_11x11.png);
}
.popup__dashboard-setting .campaign-type__list {
  padding-top: 10px;
}
.popup__dashboard-setting .campaign-type__list ol {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  height: 130px;
  overflow: hidden;
  padding-left: 0;
}
.popup__dashboard-setting .campaign-type__list li {
  counter-increment: Index;
  line-height: 32px;
  list-style: none;
}
.popup__dashboard-setting .campaign-type__list li .drag-handle {
  cursor: move;
  margin-left: 7px;
  margin-right: 10px;
}
.popup__dashboard-setting .campaign-type__list li .drag-handle img {
  vertical-align: middle;
}
.popup__dashboard-setting .campaign-type__list li::before {
  background-color: #404040;
  border-radius: 50%;
  color: #fff;
  content: counter(Index);
  display: inline-block;
  font-size: 10px;
  height: 18px;
  line-height: 18px;
  text-align: center;
  vertical-align: middle;
  width: 18px;
}

.popup__save-report {
  width: 492px;
}

.popup__my-report {
  width: 239px;
}
.popup__my-report .my-report__field {
  max-height: 149px;
  overflow: auto;
  margin-top: 10px;
  margin-bottom: 20px;
}
.popup__my-report .my-report__list {
  border-top: 1px solid #cacaca;
  border-bottom: 1px solid #cacaca;
}
.popup__my-report .my-report__item {
  border-top: 1px solid #cacaca;
  cursor: pointer;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  padding-left: 10px;
}
.popup__my-report .my-report__item:first-child {
  border-top: 0 none;
}
.popup__my-report .my-report__item:hover {
  background-color: #dde3f0;
}
.popup__my-report .my-report__item .text--ellipsis {
  display: inline-block;
  vertical-align: middle;
  max-width: 105px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.popup__my-report .my-report__item--selected::before {
  display: inline-block;
  width: 13px;
  height: 10px;
  vertical-align: middle;
  content: 'Check';
  background-image: url(../images/icon_check--checked_5f93ff_13x10.png);
  text-indent: -9999px;
  margin-right: 5px;
}
.popup__my-report .my-report__item--default::after {
  display: inline-block;
  vertical-align: middle;
  content: 'default';
  background-image: url(../images/text_default_3b5998_40x12.png);
  width: 40px;
  height: 12px;
  text-indent: -9999px;
  margin-left: 5px;
}

.popup__save-report,
.popup__my-report {
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 10px;
  border: 1px solid #bcbcbc;
  background-color: #fff;
}
.popup__save-report [type='checkbox']:not(:checked), .popup__save-report [type='checkbox']:checked,
.popup__save-report [type='radio']:not(:checked),
.popup__save-report [type='radio']:checked,
.popup__my-report [type='checkbox']:not(:checked),
.popup__my-report [type='checkbox']:checked,
.popup__my-report [type='radio']:not(:checked),
.popup__my-report [type='radio']:checked {
  left: -9999px;
  position: absolute;
}
.popup__save-report [type='checkbox']:not(:checked) + label, .popup__save-report [type='checkbox']:checked + label,
.popup__save-report [type='radio']:not(:checked) + label,
.popup__save-report [type='radio']:checked + label,
.popup__my-report [type='checkbox']:not(:checked) + label,
.popup__my-report [type='checkbox']:checked + label,
.popup__my-report [type='radio']:not(:checked) + label,
.popup__my-report [type='radio']:checked + label {
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  line-height: inherit;
  margin-right: 0;
  padding-left: 18px;
  position: relative;
  vertical-align: middle;
}
.popup__save-report [type='checkbox']:not(:checked) + label::before, .popup__save-report [type='checkbox']:checked + label::before,
.popup__save-report [type='radio']:not(:checked) + label::before,
.popup__save-report [type='radio']:checked + label::before,
.popup__my-report [type='checkbox']:not(:checked) + label::before,
.popup__my-report [type='checkbox']:checked + label::before,
.popup__my-report [type='radio']:not(:checked) + label::before,
.popup__my-report [type='radio']:checked + label::before {
  background-color: #fff;
  border: 1px solid #d0d0d0;
  box-sizing: border-box;
  content: '';
  display: block;
  position: absolute;
}
.popup__save-report [type='checkbox']:not(:checked) + label::after, .popup__save-report [type='checkbox']:checked + label::after,
.popup__save-report [type='radio']:not(:checked) + label::after,
.popup__save-report [type='radio']:checked + label::after,
.popup__my-report [type='checkbox']:not(:checked) + label::after,
.popup__my-report [type='checkbox']:checked + label::after,
.popup__my-report [type='radio']:not(:checked) + label::after,
.popup__my-report [type='radio']:checked + label::after {
  background-image: url(https://www.dropbox.com/s/4rejvu1k641g5rk/icon_check--checked_5f93ff_13x10.png?raw=1);
  content: '';
  display: block;
  height: 10px;
  position: absolute;
  width: 13px;
}
.popup__save-report [type='checkbox']:not(:checked) + label::after,
.popup__save-report [type='radio']:not(:checked) + label::after,
.popup__my-report [type='checkbox']:not(:checked) + label::after,
.popup__my-report [type='radio']:not(:checked) + label::after {
  opacity: 0;
}
.popup__save-report [type='checkbox']:checked + label::after,
.popup__save-report [type='radio']:checked + label::after,
.popup__my-report [type='checkbox']:checked + label::after,
.popup__my-report [type='radio']:checked + label::after {
  opacity: 1;
}
.popup__save-report [type='checkbox']:disabled:not(:checked) + label, .popup__save-report [type='checkbox']:disabled:checked + label,
.popup__save-report [type='radio']:disabled:not(:checked) + label,
.popup__save-report [type='radio']:disabled:checked + label,
.popup__my-report [type='checkbox']:disabled:not(:checked) + label,
.popup__my-report [type='checkbox']:disabled:checked + label,
.popup__my-report [type='radio']:disabled:not(:checked) + label,
.popup__my-report [type='radio']:disabled:checked + label {
  color: #aaa;
}
.popup__save-report [type='checkbox']:disabled:checked + label::after,
.popup__save-report [type='radio']:disabled:checked + label::after,
.popup__my-report [type='checkbox']:disabled:checked + label::after,
.popup__my-report [type='radio']:disabled:checked + label::after {
  background-image: url(https://www.dropbox.com/s/l5yoqib11552b21/icon_check--disabled_d0d0d0_13x10.png?raw=1);
}
.popup__save-report [type='checkbox']:not(:checked) + label::before, .popup__save-report [type='checkbox']:checked + label::before,
.popup__my-report [type='checkbox']:not(:checked) + label::before,
.popup__my-report [type='checkbox']:checked + label::before {
  height: 12px;
  left: 0;
  top: 1px;
  width: 12px;
}
.popup__save-report [type='checkbox']:not(:checked) + label::after, .popup__save-report [type='checkbox']:checked + label::after,
.popup__my-report [type='checkbox']:not(:checked) + label::after,
.popup__my-report [type='checkbox']:checked + label::after {
  left: 1px;
  top: 1px;
}
.popup__save-report [type='radio']:not(:checked) + label::before, .popup__save-report [type='radio']:checked + label::before,
.popup__my-report [type='radio']:not(:checked) + label::before,
.popup__my-report [type='radio']:checked + label::before {
  border-radius: 50%;
  height: 13px;
  left: 0;
  top: 0;
  width: 13px;
}
.popup__save-report [type='radio']:not(:checked) + label::after, .popup__save-report [type='radio']:checked + label::after,
.popup__my-report [type='radio']:not(:checked) + label::after,
.popup__my-report [type='radio']:checked + label::after {
  left: 2px;
  top: 1px;
}
.popup__save-report .popup__header,
.popup__my-report .popup__header {
  background-color: #3b5998;
  display: table;
  height: 30px;
  width: 100%;
}
.popup__save-report .popup__header > .title__inner,
.popup__my-report .popup__header > .title__inner {
  display: table-cell;
  vertical-align: middle;
}
.popup__save-report .popup__header > .title__inner h4.title,
.popup__my-report .popup__header > .title__inner h4.title {
  color: #fff;
  font-size: 13px;
  padding: 0 12px;
}
.popup__save-report .popup__container,
.popup__my-report .popup__container {
  padding: 15px 10px 30px;
  border-bottom: 2px solid #3b5998;
}
.popup__save-report .popup__footer,
.popup__my-report .popup__footer {
  text-align: center;
  padding-top: 20px;
}
.popup__save-report .button--ok,
.popup__my-report .button--ok {
  width: 65px;
  height: 20px;
  background-color: #3b5998;
  color: #fff;
  border-radius: 10px;
  font-size: 12px;
}
.popup__save-report .popup__button--close,
.popup__my-report .popup__button--close {
  width: 9px;
  height: 9px;
  background: url(../images/btn_close_ffffff_13x13.png) no-repeat 0 0;
  background-size: cover;
  text-indent: -9999px;
  overflow: hidden;
  position: absolute;
  right: 20px;
  top: 20px;
}
.popup__save-report .text--desc,
.popup__my-report .text--desc {
  line-height: 20px;
}
.popup__save-report .input--name,
.popup__my-report .input--name {
  margin: 30px 0;
}
.popup__save-report .input--name label,
.popup__my-report .input--name label {
  color: #3b5998;
  font-size: 13px;
  font-weight: 700;
  width: 50px;
  display: inline-block;
}
.popup__save-report .input--name input[type="text"],
.popup__my-report .input--name input[type="text"] {
  width: 246px;
  border: 1px solid #c6c6c6;
}
