@charset "UTF-8";
$border-color: #c6c6c6;

.select2-container--adwitt,
.select2-container--adwitt-time {
  .select2-selection--single {
    border: 1px solid $border-color;
    height: 25px;
    background-color: #fff;
    text-align: left;
    .select2-selection__rendered {
      line-height: 25px;
    }
    .select2-selection__arrow {
      display: block;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      width: 23px;
      b {
        //background-image: url('../images/bg_select-3b5998-9x6.png');
        background-image: url('../images/bg_select-down_3b5998_9x6.png');
        display: inline-block;
        height: 6px;
        position: absolute;
        right: 7px;
        top: 9px;
        width: 9px;
      }
    }
  }
  .select2-dropdown {
    border-radius: 0;
  }

  &.select2-container--open {
    .select2-selection__rendered {
      background-color: #3b5998;
      color: #fff;
      outline: 0 none;
    }
    .select2-selection--single {
      .select2-selection__arrow {
        b {
          background-image: url('../images/bg_select-up_ffffff_9x6.png');
        }
      }
    }
  }
  .select2-results__option[aria-selected=true] {
    background-color: #fff;
  }
  .select2-results__option--highlighted[aria-selected] {
    background-color: #e0e6f2;
    color: #404040;
  }
  .select2-results {
    > .select2-results__options {
      max-height: 199px;
      position: relative;
      .select2-results__option {
        line-height: 24px;
        overflow: hidden;
        padding: 0 12px 0 6px;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        white-space: nowrap;
        word-break: break-all;
      }
      li {
        border-bottom: 1px solid #c1c1c1;
        &:nth-last-of-type(1) {
          border-bottom: 0 none;
        }
      }
    }
  }
}

.select2-container--adwitt-time {
  .select2-results {
    > .select2-results__options {
      .select2-results__option {
        line-height: 25px;
        padding: 0 12px 0 6px;
      }
      li {
        border-bottom: 0 none;
      }
    }
  }
}


// Disabled 상태일때

.select2-container--disabled {
  .select2-selection--single {
    background-color: rgb(238,238,238);
    cursor: default;
  }
}