// ClearFix
@mixin clearfix() {
  *zoom: 1;
  &:before,
  &:after {
    content: '';
    display: table;
  }
  &:after {
    clear: both;
  }
}

// Ellipsis
@mixin ellipsis() {
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
}

// Center Position
@mixin center {
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}



// Button Style
@mixin button-style($width: 130,$height:32,$font-size : 18,$bg-color : #3b5998, $font-color : #fff) {
  box-sizing: border-box;
  background-color: $bg-color;
  border-radius: ($height/2)+px;
  color: $font-color;
  font-size: $font-size+px;
  height: $height+px;
  line-height: $height+px;
  overflow: hidden;
  text-align: center;
  width: $width+px;
}



// Popup Style
@mixin popup-default-style() {
  background-color: #fff;
  border: 1px solid #cbcbcb;
  box-sizing: border-box;
  padding: 20px 20px 30px 20px;
  .popup__header {
    background-color: #3b5998;
    display: table;
    height: 45px;
    width: 100%;
    > .title__inner {
      display: table-cell;
      vertical-align: middle;
      h4.title {
        color: #fff;
        font-size: 16px;
        padding: 0 20px;
      }
    }
  }
  .popup__container {
    padding: 35px 30px;
  }
  .popup__footer {
    border-top: 2px solid #ababab;
    padding-top: 30px;
    text-align: center;
  }
  .popup__button--close {
    background-image: url(../images/btn_close_ffffff_13x13.png);
    display: block;
    height: 13px;
    overflow: hidden;
    position: absolute;
    right: 38px;
    text-indent: -9999px;
    top: 37px;
    width: 13px;
  }
}


@mixin custom-input--border($min-width: auto,$margin-right: 0, $font-size: 13px, $vertical-align: middle) {
  $checked: 'https://www.dropbox.com/s/4rejvu1k641g5rk/icon_check--checked_5f93ff_13x10.png?raw=1';
  $checked--disabled: 'https://www.dropbox.com/s/l5yoqib11552b21/icon_check--disabled_d0d0d0_13x10.png?raw=1';

  [type='checkbox'],
  [type='radio'] {
    &:not(:checked),
    &:checked {
      left: -9999px;
      position: absolute;
      + label {
        border: 1px solid #cacaca;
        border-radius: 13px;
        box-sizing: border-box;
        cursor: pointer;
        display: inline-block;
        font-size: $font-size;
        height: 25px;
        line-height: 23px;
        margin-right: $margin-right;
        min-width: $min-width;
        position: relative;
        text-align: center;
        vertical-align: $vertical-align;

        &::before {
          border: 1px solid #d0d0d0;
          box-sizing: border-box;
          content: '';
          display: block;
          position: absolute;
        }

        &::after {
          background-image: url(#{$checked});
          content: '';
          display: block;
          height: 10px;
          position: absolute;
          width: 13px;
        }
      }
    }

    &:not(:checked) {
      + label {
        &::after {
          opacity: 0;
        }
      }
    }

    &:checked {
      + label {
        &::after {
          opacity: 1;
        }
      }
    }

    &:disabled {
      &:not(:checked),
      &:checked {
        + label {
          color: #aaa;
        }
      }
      &:checked {
        + label {
          &::after {
            background-image: url(#{$checked--disabled});
          }
        }
      }
    }
  }

  [type='checkbox'] {
    &:not(:checked),
    &:checked {
      + label {
        &::before {
          height: 12px;
          left: 7px;
          top: 6px;
          width: 12px;
        }

        &::after {
          left: 8px;
          top: 5px;
        }
      }
    }
  }

  [type='radio'] {
    &:not(:checked),
    &:checked {
      + label {
        &::before {
          border-radius: 50%;
          height: 13px;
          left: 7px;
          top: 6px;
          width: 13px;
        }
        &::after {
          left: 8px;
          top: 5px;
        }
      }
    }
  }
}
@mixin custom-input--non-border($padding-left: 15px, $margin-right: 0, $font-size: 13px, $vertical-align: middle) {
  $checked: 'https://www.dropbox.com/s/4rejvu1k641g5rk/icon_check--checked_5f93ff_13x10.png?raw=1';
  $checked--disabled: 'https://www.dropbox.com/s/l5yoqib11552b21/icon_check--disabled_d0d0d0_13x10.png?raw=1';

  [type='checkbox'],
  [type='radio'] {
    &:not(:checked),
    &:checked {
      left: -9999px;
      position: absolute;
      + label {
        cursor: pointer;
        display: inline-block;
        font-size: $font-size;
        line-height: inherit;
        margin-right: $margin-right;
        padding-left: $padding-left;
        position: relative;
        vertical-align: $vertical-align;


        &::before {
          background-color: #fff;
          border: 1px solid #d0d0d0;
          box-sizing: border-box;
          content: '';
          display: block;
          position: absolute;
        }

        &::after {
          background-image: url(#{$checked});
          content: '';
          display: block;
          height: 10px;
          position: absolute;
          width: 13px;
        }
      }
    }

    &:not(:checked) {
      + label {
        &::after {
          opacity: 0;
        }
      }
    }

    &:checked {
      + label {
        &::after {
          opacity: 1;
        }
      }
    }

    &:disabled {
      &:not(:checked),
      &:checked {
        + label {
          color: #aaa;
        }
      }
      &:checked {
        + label {
          &::after {
            background-image: url(#{$checked--disabled});
          }
        }
      }
    }
  }

  [type='checkbox'] {
    &:not(:checked),
    &:checked {
      + label {
        &::before {
          height: 12px;
          left: 0;
          top: 1px;
          width: 12px;
        }

        &::after {
          left: 1px;
          top: 1px;
        }
      }
    }
  }

  [type='radio'] {
    &:not(:checked),
    &:checked {
      + label {
        &::before {
          border-radius: 50%;
          height: 13px;
          left: 0;
          top: 0;
          width: 13px;
        }

        &::after {
          left: 2px;
          top: 1px;
        }
      }
    }
  }
}