doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    block title
      title Document
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    block externalStyle
      link(href="http://adwitt.com/css/base/reset.css" rel="stylesheet")
      link(href="./css/style.css" rel="stylesheet")
    block scripts
    block internalStyle
    block headerScript

  body
    block contents

    block bodyScript