extends ./_layout

block title
  title Adwitt :: Dashboard

block externalStyle
  // Reset
  link(href="./css/reset.css" rel="stylesheet")
  //- link(href="./css/normalize.css" rel="stylesheet")

  // Vendors
  link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet")
  link(href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/css/select2.min.css" rel="stylesheet")
  link(href="https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/0.6.8/css/perfect-scrollbar.min.css" rel="stylesheet")

  // Style
  link(href="./css/dashboard.css" rel="stylesheet")
block scripts
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/js/select2.min.js")
  script(Src="https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/0.6.8/js/min/perfect-scrollbar.jquery.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/webfont/1.6.16/webfontloader.js")

block internalStyle

block headerScript
  script.
    WebFont.load({
      google: {
        families: ['Roboto Condensed:400,700']
      }
    });

block contents
  div#wrap.warp
    //- header#header
    //- div#container
    //- footer#footer
    div#container.container
      div.dashboard__section

        div.row
          div.col
            div.contents--title
              h2 <img src="./images/icon_dashboard_3b5998_17x15.png" alt=""/> Dashboard
            button(type="button").button--setting Dashboard Setting Button
        div.row
          div.col
            div.content
              div.setting
                table.setting__table
                  col(width="60")
                  col(width="*")
                  tbody.setting__table-tbody
                    tr.setting__table-tr
                      th.setting__table-th Period
                      td.setting__table-td
                        input(type="text").input--date
                        span.text--dash  -
                        input(type="text").input--date
                        select(style="width: 110px;")
                          option Today
                    tr.setting__table-tr
                      th.setting__table-th Status
                      td.setting__table-td
                        select(style="width: 110px;")
                          option All
                          option Active
                        button(type="button").button--search Search
        div.row
          div.col
            div.content
              div.campaign-type
                button(type="button").button--prev
                div#campaign-type__wrapper.campaign-type__wrapper
                  button(type="button").campaign-type__button Desktop App Engagement
                    img(src="./images/icon_desktop-app-engagement_404040_15x13.png")
                  button(type="button").campaign-type__button Desktop App Installs
                    img(src="./images/icon_desktop-app-installs_404040_15x13.png")
                  button(type="button").campaign-type__button Lead Generation
                    img(src="./images/icon_lead-generation_404040_12x15.png")
                  button(type="button").campaign-type__button Mobile App Engagement
                    img(src="./images/icon_mobile-app-engagement_404040_10x15.png")
                  button(type="button").campaign-type__button Mobile App Installs
                    img(src="./images/icon_mobile-app-installs_404040_9x15.png")
                  button(type="button").campaign-type__button Offer Claims
                    img(src="./images/icon_offer-claims_404040_16x13.png")
                  button(type="button").campaign-type__button Page Likes
                    img(src="./images/icon_page-likes_404040_18x15.png")
                  button(type="button").campaign-type__button Page Post Engagement
                    img(src="./images/icon_page-post-engagement_404040_16x16.png")
                  button(type="button").campaign-type__button Product Catalog Sales
                    img(src="./images/icon_product-catalog-sales_404040_13x13.png")
                  button(type="button").campaign-type__button Video Views
                    img(src="./images/icon_video-views_404040_16x11.png")
                  button(type="button").campaign-type__button Website Clicks
                    img(src="./images/icon_website-clicks_404040_10x16.png")
                  button(type="button").campaign-type__button Website Conversions
                    img(src="./images/icon_website-conversions_404040_12x12.png")
                button(type="button").button--next

        div.row
          div.col(data-float="left" data-ratio="3")
            div.headline
              h3 Campaign Summary
            div.content
              div.campaign-summary
                table.campaign-summary__table
                  thead.campaign-summary__table-thead
                    tr.campaign-summary__table-tr
                      th.campaign-summary__table-th &nbsp;
                      th.campaign-summary__table-th Spend
                      th.campaign-summary__table-th Impression
                      th.campaign-summary__table-th Reach
                  tbody.campaign-summary__table-tbody
                    tr.campaign-summary__table-tr
                      td.campaign-summary__table-td &nbsp;
                      td.campaign-summary__table-td 2015-11-20
                      td.campaign-summary__table-td 2015-11-19
                      td.campaign-summary__table-td 2015-11-18
                    tr.campaign-summary__table-tr
                      td.campaign-summary__table-td &nbsp;
                      td.campaign-summary__table-td 2015-11-20
                      td.campaign-summary__table-td 2015-11-19
                      td.campaign-summary__table-td 2015-11-18
                    tr.campaign-summary__table-tr
                      td.campaign-summary__table-td &nbsp;
                      td.campaign-summary__table-td 2015-11-20
                      td.campaign-summary__table-td 2015-11-19
                      td.campaign-summary__table-td 2015-11-18
          div.col(data-float="right" data-ratio="7")
            div.headline
              h3 Campaign Graph
            div.content
              | 그래프가 들어갈 공간!!
        div.row
          div.col
            div.headline
              h3 Campaign Details
            div.content
              div.campaign-details
                p.campaign-details__text
                  span Period Spend <i class="fa fa-info-circle"></i>
                    strong 787,041
                  span Spend Today <i class="fa fa-info-circle"></i>
                    strong 67,912
                div.campaign-details__button-wrap
                  button(type="button").button--my-report My Report
                  button(type="button").button--edit-columns Edit Columns
                  button(type="button").button--save-report Save Report
                table.campaign-details__table
                  colgroup
                    col(width="16")
                    col(width="26")
                    col(width="*")
                    col(width="10")
                    col(width="80")
                    col(width="80")
                    col(width="70")
                    col(width="60")
                    col(width="60")
                    col(width="60")
                    col(width="60")
                    col(width="120")
                    col(width="160")
                    col(width="80")
                    col(width="60")
                    col(width="80")
                    col(width="60")
                    col(width="60")
                  thead.campaign-details__table-thead
                    tr.campaign-details__table-tr
                      th.campaign-details__table-th
                        input(type="checkbox" id="th1")
                        label(for="th1") &nbsp;
                      th.campaign-details__table-th &nbsp;
                      th.campaign-details__table-th Campaign Name
                      th.campaign-details__table-th &nbsp;
                      th.campaign-details__table-th Start Date
                      th.campaign-details__table-th End Date
                      th.campaign-details__table-th Impression
                      th.campaign-details__table-th Reach
                      th.campaign-details__table-th Click
                      th.campaign-details__table-th CTR
                      th.campaign-details__table-th CPC
                      th.campaign-details__table-th Website Click
                      th.campaign-details__table-th Cost Per Website Click
                      th.campaign-details__table-th Budget
                      th.campaign-details__table-th Spent
                      th.campaign-details__table-th Period Spent
                      th.campaign-details__table-th Manage
                      th.campaign-details__table-th Report
                  tbody.campaign-details__table-tbody
                    - for (var i = 0; i < 4; i++)
                      tr.campaign-details__table-tr
                        td.campaign-details__table-td
                          input(type="checkbox" id="td"+i)
                          label(for="td"+i) &nbsp;
                        if i%2 == 0
                          td.campaign-details__table-td <img src="./images/icon_play_000000_6x8.png" alt=""/>
                        else
                          td.campaign-details__table-td <img src="./images/icon_pause_000000_6x8.png" alt=""/>
                        td.campaign-details__table-td 대통령이 제1항의 기간내에 공포나 재의의 요구를 하지 아니한 때에도 그 법률안은 법률로서 확정된다. 연소자의 근로는 특별한 보호를 받는다. 재판의 전심절차로서 행정심판을 할 수 있다. 행정심판의 절차는 법률로 정하되, 사법절차가 준용되어야 한다.
                        if i%2 == 0
                          td.campaign-details__table-td <i class="fa fa-exclamation-circle"></i>
                        else
                          td.campaign-details__table-td &nbsp;
                        td.campaign-details__table-td 2014-11-20
                        td.campaign-details__table-td 2014-11-20
                        td.campaign-details__table-td 0
                        td.campaign-details__table-td 0
                        td.campaign-details__table-td 0
                        td.campaign-details__table-td 0%
                        td.campaign-details__table-td 0
                        td.campaign-details__table-td 0
                        td.campaign-details__table-td 0
                        td.campaign-details__table-td 1,500,000
                        td.campaign-details__table-td 0
                        td.campaign-details__table-td 0
                        td.campaign-details__table-td
                          button(type="button").button--manage Manage
                        td.campaign-details__table-td
                          button(type="button").button--report Report

  div.popup__save-report
    div.popup__header
      div.title__inner
        h4.title Save Report

    div.popup__container

      p.text--desc Give these report settings a unique name so it`s easy to use them in the future.<br/>We`ll save your columns.

      div.input--name
        label Name
        input(type="text")

      input(type="checkbox")
      label Set this report as my default.
    div.popup__footer
      button(type="button").button--ok OK

    button(type="button").popup__button--close

  div.popup__my-report
    div.popup__header
      div.title__inner
        h4.title My Report

    div.popup__container
      div.my-report__field
        ul.my-report__list
          li.my-report__item.my-report__item--selected.my-report__item--default <span class="text--ellipsis">Report Report Report Report</span>
          li.my-report__item.my-report__item--selected <span>Report</span>
          li.my-report__item <span>Report</span>
          li.my-report__item <span>Report</span>
          li.my-report__item <span>Report</span>
          li.my-report__item <span>Report</span>
          li.my-report__item <span>Report</span>
      input(type="checkbox")
      label Set this report as my default.
    div.popup__footer
      button(type="button").button--ok OK

    button(type="button").popup__button--close

  include ./Dashbaord/popup_dashboard-setting


  script(src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.4.2/Sortable.min.js")
  script(src="./scripts/dashboard.js")