div.popup__dashboard-setting()
  div.popup__header
    div.title__inner
      h4.title Save Default Dashboard Setting

  div.popup__container
    div.popup__content
      div.campaign-type
        p.popup__headline
          strong Campaign Type
        p.desc Arrange campaign types in the order of importance. <br/>The campaign type that appears on the first row will be the first campaign type you see when you enter Dashboard.

        div.campaign-type__list
          ol#list
            - var lists = ['Desktop App Engagement','Desktop App Installs','Lead Generation','Mobile App Engagement','Mobile App Installs','Offer Claims','Page Likes','Page Post Engagement','Product Catalog Sales','Video Views','Website Clicks','Website Conversions']
            each value in lists
              li.item
                span.drag-handle
                  img(src="./images/icon_drag-handle_000000_13x20.png" alt="")
                =value
    div.popup__content
      div.period-campaign-status
        p.popup__headline
          strong Period and Campaign Status

        label Period
        select(style="width:116px;")
          option Today

        label.second-label Status
        select(style="width:116px;")
          option All

    div.popup__content
      div.campaign-summary
        p.popup__headline
          strong Campaign Summary
        p.desc The columns in Campaign Summary and the order by which they appear will be the same you have set in Edit Columns.
        input(type="checkbox" id="c1")
        label(for="c1") Display Campaign Summary
        i.fa.fa-info-circle(data-desc="If you check to see both Campaign Summary and Graph, Campaign Summary will display  ‘Spend’ column and the first two columns you have set in Edit Columns .")

    div.popup__content
      div.campaign-graph
        p.popup__headline
          strong Campaign Graph

        input(type="checkbox" id="c2")
        label(for="c2") Display Campaign Graph

    div.popup__content
      div.apply-setting
        p.popup__headline
          strong Apply Setting

        div
          input(type="radio" id="c3" name="r1")
          label(for="c3") Apply to this account, Adwitt Test.
        div
          input(type="radio" id="c4" name="r1")
          label(for="c4") Apply to this account other accounts.
        div.apply-setting__select
          select(style="width: 336px; margin-left: 30px;")
            option Select other Account

          p.apply-setting__item Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. <button type="button" class="button--remove">Remove</button>
          p.apply-setting__item Account Name <button type="button" class="button--remove">Remove</button>
          p.apply-setting__item Account Name <button type="button" class="button--remove">Remove</button>


  div.popup__footer
    button(type="button").button--ok OK
    button(type="button").button--cancel Cancel

  button(type="button").popup__button--close