@charset 'UTF-8';
@import './utils/mixin';
@import './component/_select2-theme';

html,
body,
* {
  box-sizing: border-box;
}

html,
body,
#wrap {
  height:100%;
}
body {
  font-family: 'Roboto Condensed',sans-serif;
  font-size: 13px;
  > #wrap {
    height: auto;
    min-height: 100%;
  }
}

button {
  font-family: 'Roboto Condensed',sans-serif;
  padding: 0;
  cursor: pointer;
}

input {
  &[type="text"],
  &[type="password"],
  &[type="number"],
  &[type="search"]{
    height: 25px;
    line-height: 25px;
    padding: 0 6px;
  }
}

#wrap {
  min-width: 1440px;
  background-color: #ccc;
}
.container {
  padding: 0 55px;
}
.row {
  @include clearfix();
  margin-bottom: 10px;
}
.col {
  background-color: #fff;
  border: 1px solid #dcdcdc;
  box-shadow: 1px 1px 10px #cacaca;
  position: relative;
  &[data-float='left'] {
    float: left;
  }
  &[data-float='right'] {
    float: right;
  }
  &[data-ratio='3'] {
    width: 29.5%;
  }
  &[data-ratio='7'] {
    width: 69.5%;
  }
}
.contents--title {
  color: #3b5998;
  height: 47px;
  h2 {
    line-height: 47px;
    font-size: 20px;
    text-indent: 10px;
  }
}
.headline {
  background-color: #3b5998;
  height: 37px;
  h3 {
    color: #fff;
    font-size: 17px;
    font-weight: 400;
    line-height: 37px;
    text-indent: 20px;
  }
}
.content {
  padding:  {
    left: 37px;
    right: 37px;
  }
}
.input--date {
  background: url(../images/icon_calendar_3b5998_14x14.png) no-repeat right 6px top 50% #fff;
  border: 1px solid #c6c6c6;
  padding:  {
    left: 6px;
    right: 26px;
  }
}

.dashboard__section {
  .button--prev,
  .button--next {
    background:  {
      color: #fff;
      repeat: no-repeat;
    }
    border: 0 none;
    height: 19px;
    overflow: hidden;
    text-indent: -9999px;
    width: 13px;;
  }
  .button--prev {
    background-image: url(../images/btn_arrow-prev_ababab_13x19.png);
  }
  .button--next {
    background-image: url(../images/btn_arrow-next_ababab_13x19.png);
  }
  .button--setting {
    background: url(../images/btn_setting_3b5998_15x14.png) no-repeat 0 0;
    border: 0 none;
    height: 14px;
    overflow: hidden;
    text-indent: -9999px;
    width: 15px;
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -7px;
  }

  .setting {
    $root: '.setting';
    margin: 20px 0;
    &__table {
      width: 100%;
      &-th {
        color: #3b5998;
        text-align: left;
        font-size: 17px;
      }
      &-tbody {
        #{$root}__table-tr {
          &:not(:last-child) {
            #{$root}__table-th,
            #{$root}__table-td {
              padding-bottom: 14px;
            }
          }
        }
      }
    }
    .input--date {
      height: 25px;
      line-height: 25px;
      width: 200px;
    }
    .button--search {
      background-color: #3b5998;
      border: 0 none;
      border-radius: 13px;
      color: #fff;
      font-size: 15px;
      font-weight: 400;
      height: 25px;
      width: 100px;
    }
  }


  .campaign-type {
    position: relative;
    .button--prev {
      position: absolute;
      left: 0;
      top: 50%;
      margin-top:-10px;
    }
    .button--next {
      position: absolute;
      right: 0;
      top: 50%;
      margin-top:-10px;
    }
    &__wrapper {
      white-space: nowrap;
      margin: 10px 66px;
      overflow:hidden;
      font-size: 0;
    }
    &__button {
      font-size: 15px;
      background-color: #fff;
      border: 1px solid #c6c6c6;
      border-radius: 20px;
      height: 40px;
      width: 23.932384341637%;
      margin-left: 1.423487544484%;
      &:first-child {
        margin-left:0;
      }
      img {
        margin-left:5px;
        vertcial-align: middle;
      }
    }
    &__button--active {
      background-color: #404040;
      color: #fff;
    }


  }

  .campaign-summary {
    $root: '.campaign-summary';

    margin:  {
      bottom: 24px;
      top: 24px;
    }
    &__table {
      width: 100%;
      &-th {
        border:  {
          bottom: 2px solid #3b5998;
          top: 2px solid #3b5998;
        }
        color: #3b5998;
        height: 42px;
      }
      &-td {
        border-bottom: 1px solid #dadada;
        height: 39px;
        &:not(:first-child) {
          text-align: center;
        }
      }
      &-tbody {
        #{$root}__table-tr {
          &:first-child {
            #{$root}__table-td {
              color: #3b5998;
            }
          }
        }
      }
    }
  }

  .campaign-details {
    $root: '.campaign-details';
    @include custom-input--non-border();
    margin: 38px 0 50px;
    .fa-exclamation-circle {
      color: #ff0053;
    }
    &__text {
      line-height: 20px;
      span {
        vertical-align: middle;
        &:not(:first-child) {
          margin-left: 65px;
        }
      }
      strong {
        color: #3b5998;
        font-size: 20px;
        margin-left: 20px;
        vertical-align: top;
      }
    }
    &__table {
      table-layout: fixed;
      width: 100%;
      &-th {
        border:  {
          bottom: 2px solid #3b5998;
          top: 2px solid #3b5998;
        }
        color: #3b5998;
        height: 42px;
        &:first-child {
        }
      }
      &-td {
        border-bottom: 1px solid #c6c6c6;
        height: 40px;
        text-align: center;
        &:nth-child(3) {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
      &-tbody {
        #{$root}__table-tr {
          &:last-child {
            #{$root}__table-td {
              border-bottom: 2px solid #3b5998;
              height: 41px;
            }
          }
        }
      }
    }
    &__button-wrap {
      margin-bottom: 10px;
      text-align: right;
      .button--my-report,
      .button--edit-columns,
      .button--save-report {
        background-color: #3b5998;
        border: 0 none;
        border-radius: 10px;
        color: #fff;
        height: 20px;
        width: 115px;
      }
    }
    .button--manage,
    .button--report {
      background-color: #ababab;
      border: 0 none;
      border-radius: 10px;
      color: #fff;
      font-size: 11px;
      height: 20px;
      width: 55px;
    }
  }
}

// Dashboard Setting Popup

.popup__dashboard-setting {
  @include popup-default-style();
  @include center();
  width: 820px;
  z-index: 100;
  .popup__headline {
    color: #3b5998;
    font-size: 15px;
    margin-bottom: 15px;
  }
  .desc {
    line-height: 16px;
    margin-bottom: 10px;
  }

  .button--ok,
  .button--cancel {
    width: 100px;
    height: 25px;
    border-radius: 13px;
    color: #fff;
    font-size: 15px;
  }

  .button--ok {
    background-color: #3b5998;
    margin-right: 10px;
  }
  .button--cancel {
    background-color: #ababab;
  }

  .popup__container {
    @include custom-input--non-border(18px);

    font-size: 13px;
  }
  .popup__content {
    margin-bottom: 35px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  .period-campaign-status {
    > label {
      margin-right: 10px;
    }
    .second-label {
      margin-left: 40px;
    }
  }
  .campaign-summary {
    .fa {
      margin-left: 3px;
      vertical-align: middle;
    }
  }

  .apply-setting {
    > div {
      margin-bottom: 10px;
    }

    &__select {
      margin-left:18px;
    }

    .apply-setting__item {
      height: 25px;
      width: 336px;
      margin-top: 5px;
      background-color: #f0f0f0;
      line-height: 25px;
      position: relative;
      color: #404040;
      padding-left:10px;
      padding-right: 31px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .button--remove {
      position: absolute;
      right: 10px;
      top: 50%;
      margin-top: -6px;
      width: 11px;
      height: 11px;
      text-indent: -9999px;
      overflow: hidden;
      background-image: url(../images/btn_remove_404040_11x11.png);
    }

  }
  .campaign-type__list {
    padding-top: 10px;
    ol {
      // IE 10 이상 작동됨
      -webkit-column-count: 3;
      -moz-column-count: 3;
      column-count: 3;
      height: 130px;
      overflow: hidden;
      padding-left: 0;
    }
    li {
      counter-increment: Index;
      line-height: 32px;
      list-style: none;
      .drag-handle {
        cursor: move;
        margin-left: 7px;
        margin-right: 10px;
        img {
          vertical-align: middle;
        }
      }
      &::before {
        background-color: #404040;
        border-radius: 50%;
        color: #fff;
        content: counter(Index);
        display: inline-block;
        font-size: 10px;
        height: 18px;
        line-height: 18px;
        text-align: center;
        vertical-align: middle;
        width: 18px;
      }
    }
  }
}

.popup__save-report {
  width: 492px;
}
.popup__my-report {
  width: 239px;
  .my-report__field {
    max-height: 149px;
    overflow:auto;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .my-report__list {
    border-top:1px solid #cacaca;
    border-bottom: 1px solid #cacaca;
  }
  .my-report__item {
    border-top: 1px solid #cacaca;
    cursor: pointer;
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    padding-left: 10px;
    &:first-child {
      border-top: 0 none;
    }
    &:hover {
      background-color: #dde3f0;
    }
    .text--ellipsis {
      display: inline-block;
      vertical-align: middle;
      max-width:105px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

  }
  .my-report__item--selected {
    &::before {
      display: inline-block;
      width: 13px;
      height: 10px;
      vertical-align: middle;
      content: 'Check';
      background-image: url(../images/icon_check--checked_5f93ff_13x10.png);
      text-indent: -9999px;
      margin-right: 5px;
    }
  }
  .my-report__item--default {
    &::after {
      display: inline-block;
      vertical-align: middle;
      content: 'default';
      background-image:url(../images/text_default_3b5998_40x12.png);
      width:40px;
      height: 12px;
      text-indent: -9999px;
      margin-left: 5px;
    }
  }
}

.popup__save-report,
.popup__my-report {
  @include custom-input--non-border(18px);
  @include center();
  padding: 10px;
  border:1px solid #bcbcbc;
  background-color: #fff;

  .popup__header {
    background-color: #3b5998;
    display: table;
    height: 30px;
    width: 100%;
    > .title__inner {
      display: table-cell;
      vertical-align: middle;
      h4.title {
        color: #fff;
        font-size: 13px;
        padding: 0 12px;
      }
    }
  }
  .popup__container {
    padding: 15px 10px 30px;
    border-bottom: 2px solid #3b5998;
  }
  .popup__footer {
    text-align: center;
    padding-top: 20px;
  }
  .button--ok {
    width: 65px;
    height: 20px;
    background-color: #3b5998;
    color: #fff;
    border-radius: 10px;
    font-size:12px;
  }
  .popup__button--close {
    width: 9px;
    height: 9px;
    background: url(../images/btn_close_ffffff_13x13.png) no-repeat 0 0;
    background-size:cover;
    text-indent: -9999px;
    overflow: hidden;
    position: absolute;
    right: 20px;
    top: 20px;
  }

  .text--desc {
    line-height: 20px;
  }
  .input--name {
    margin: 30px 0;
    label {
      color: #3b5998;
      font-size: 13px;
      font-weight: 700;
      width: 50px;
      display:inline-block;
    }
    input[type="text"]{
      width: 246px;
      border: 1px solid #c6c6c6;
    }
  }
}


